
/*added to closet alert*/
.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px; 
    position: fixed;
    top: 0; 
}

.success { 
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}
/***********************/

/*Outfit Editor*/
#holder{
    width: 1000px;
    height: 600px;
    border: 1px solid;
}

.draggable{
    position:relative;
    cursor: move;
    width: 100px;
    height: 100px;
    float: left;
}
/***********************/

/*all Items*/
.item_section{
    display: inline-block;
}

.item_section img{
    width: 100px;
}

.itemImage{
    width: 100px;
}

/***********************/

.resize_border{
    //outline: 2px dashed #f44336;
    border: 5px solid;
    cursor: ne-resize;
}